<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ content_for_header }}
    {% render 'color' %}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'layout.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'responsive.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% sections 'header-group' %}
    {% render 'alert' %}
    {{ content_for_layout }}
    <script src="{{ "main.js" | asset_url }}"defer="defer">></script>
  </body>
</html>