
  <h3 class="section__heading h2 text-center footer__heading">{{ section.settings.heading }}</h3>
  <div class="row no-gutters justify-center">
    {% for block in section.blocks %}
      <div class="col l-2-4 c-12 text-center">
        <div class="epilogue__item">
          {%- if block.settings.image != blank -%}
            <img
              src="{{ block.settings.image | img_url: '900x800' }}"
              width="{{ image.width }}"
              height="{{ image.height }}"
              loading="lazy"
              alt="img"
              class="epiloque__img">
          {%- elsif block.settings.image == blank -%}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-bg-cl epiloque__img full-width' }}
          {%- endif -%}
        </div>
      </div>
    {% endfor %}
  </div>


{% schema %}
  {
    "name": "flow",
    "tag": "section",
"class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "heading",
        "default": "How to shape pumpkins for Halloween"
      }
    ],
    "blocks": [
      {
        "type": "flow",
        "name": "flow",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "flow",
        "settings": {},
        "blocks": []
      }
    ]
  }
{% endschema %}