{{ 'cart.css' | asset_url | stylesheet_tag }}

<section class="section">
  <div class="container">
    {% form 'cart', cart %}
      <h1 class=" h1 text-main section__heading text-center">Your Cart</h1>
      <div class="row">
        <div class="col c-12 l-8 d-flex row-gap-30 flex-col">
          <div class="row">
            <div class="col cart__title text-light l-6">Product</div>
            <div class="col cart__title text-light l-3">Quantity</div>
            <div class="col cart__title text-light l-3">Total</div>
          </div>
          {% for item in cart.items %}
            <div class="row">
              <div class="col l-6">
                <div class="cart__item d-flex">
                  <div class="cart__media">
                    <img
                      src="{{ item.image | img_url: '500x' }}"
                      alt=""
                      class="cart__product-img">
                  </div>
                  <div class="cart__content">
                    <p class="cart__shop-name text-light">{{ shop.name }}</p>
                    <h2 class="cart__product-title text-main">{{ item.title }}</h2>
                  </div>
                </div>
              </div>
              <div class="col l-3">
                <input
                  class="cart__input full-width"
                  name="updates[]"
                  value="{{ item.quantity }}">
                <a href="{{ item.url_to_remove }}" class=" cart__remove btn btn--shop-now">Remove</a>
              </div>
              <div class="col l-3">
                <span class="cart__product-price text-light d-block">{{ item.final_line_price 
 | money_without_trailing_zeros }}</span>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col c-12 l-4">
          <p class="cart__total text-light">Total: {{ cart.total_price | money_without_trailing_zeros }}</p>
          <button
            class="cart__btn  btn btn--shop-now "
            type="submit"
            name="update">update</button>
          <button
            class="cart__btn btn btn--shop-now "
            type="submit"
            name="checkout">Checkout</button>
          <a href="{{ shop.url }}" class=" text-main h2 d-block cart__continue">Continue Shoping</a>
        </div>
      </div>
    {% endform %}
  </div>
</section>