{{ 'blog.css' | asset_url | stylesheet_tag }}

<h1 class="section__heading h1 text-main text-center">{{ blog.title }}</h1>
<div class="container">
  <div class="row main-blog__list">
    {% for article in blog.articles %}
      <div class="col l-3">
        <div class="main-blog__item">
          <div class="main-blog__media">
            <img src="{{ article.image | img_url: '1000x' }}" alt="" class="main-blog__img">
          </div>
          <h3 class="main-blog__title h3 text-light">{{ article.title }}</h3>
          <div class="main-blog__author text-light d-flex justify-between">
            <p>{{ article.author }}</p>
            <span class="main-blog__date">{{ article.created_at | date: '%B %d, %Y' }}</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "main-blog",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "main-blog",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
